/* Create global variables that are used throughout */
:root {
    --slavic-red: rgb(186, 60, 60);
    --slavic-blue: rgb(66, 60, 101);
    --wheat: #ebbf83;
    --flax: #f1d7b2;
}

/* When user clicks on header navigation links, 
the page will scroll to the appropriate section */
html {
    scroll-behavior: smooth;
}

/* ----- BODY ----- */
/*Add color to body background*/
body {
    display: flex;
    flex-direction: column;
    background-color: var(--flax);
    font-family:'Times New Roman', Times, serif;
} 

/* ----- HEADER ----- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--slavic-red);
    color: var(--wheat);
}

/* Align navigation links*/
#header-bar ul {
    list-style-type: none;
    text-align: right;
    }

/* Define text color for header */
#header-name,
#header-bar a {
    color: var(--wheat);
}

/* set header list properties */
.header-link {
    list-style-type: none;
    font-size: 20px;
    display: inline-block;
    padding: 10px 25px 5px 10px;
}

/* When links are clicked (or clicked and held) 
the color will be dark slate blue */
#header-bar a:active {
    color: var(--slavic-blue);
} 

/* -----Title Text----- */
h1,
h2 {
    font-size: 200%;
    color: var(--slavic-blue);
}


/* -----CONTENT SECTIONS----- */
/* Set sections main flexbox container properties (one for 'About Me,' one for 'My Projects,' one for 'Contact Me') */
.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-color: var(--slavic-blue);
    border-radius: 5px;
}
/* Section Title Flex Elements */
.section-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    margin: 10px 25px 10px 10px;
    /* Use a dotted border to show flex properties. Leave these comments in for later debugging */
    /* border: dotted;
    border-color: var(--slavic-red);  */
}

/* -----ABOUT ME----- */
/* About Me Flex Container */
.biography {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    /* Use a dotted border to show flex properties. Leave these comments in for later debugging */
    /* border: dotted;
    border-color: var(--slavic-red);  */
}

/* About Me Bio Flex Element */
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 800px;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    margin: 10px 25px 10px 75px;
    /* Use a dotted border to show flex properties. Leave these comments in for later debugging */
    /* border: dotted;
    border-color: var(--slavic-red); */
}

article p {
    margin: 2% 0;
}

/* Bio Image Flex Element */
.profile-pic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* Use a dotted border to show flex properties. Leave these comments in for later debugging */
    /* border: dotted;
    border-color: var(--slavic-red); */
}

/* Set profile picture properties */
.profile-pic img{
    max-width: 200px;
    float: right;
    padding: 10px 25px 10px 25px;
}

/* -----MY PROJECTS----- */
/* Flex Container */
.my-projects {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    /* Use a dotted border to show flex properties. Leave these comments in for later debugging */
    /* border: dotted;
    border-color: var(--slavic-red); */
}

/* Project Flex Element, Flex Container for sub-elements */
.project-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    margin-left: 50px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    /* Use a dotted border to show flex properties. Leave these comments in for later debugging */
    /* border: dotted;
    border-color: var(--slavic-red); */
}

/* Flex Element for Main Project image */
.main-proj-area .main-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    position: relative;
    background-color: var(--flax);
    color: var(--slavic-blue);
    /* Use a dotted border to show flex properties. Leave these comments in for later debugging */
    border: dotted;
    border-color: green;
}
.main-proj-pic {
    width: 300px;
    padding: 10px;
    /* min-width: 300px; */
    /* position: relative; */
}
/* Text Label for main project image */
.main-proj-txt {
    position: absolute;
    display: block;
    white-space: nowrap;
    margin: 240px 260px 0rem 0rem;
    padding: 0.5rem 1rem;
    background-color: var(--slavic-red);
    color: var(--wheat);
    border: 2px solid var(--slavic-red);
    border-radius: 8px;
  }

.secondary-proj-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    /* Use a dotted border to show flex properties. Leave these comments in for later debugging */
    /* border: dotted;
    border-color: green; */
}

.project-image img {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    width: 200px;
    height: 75px;
    margin: 10px;
}

.sec-proj-txt {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: absolute;
    display: block;
    white-space: nowrap;
    margin: 35px -20px 0px 0px;
    padding: 0.5rem 1rem;
    background-color: var(--slavic-red);
    color: var(--wheat);
    border: 2px solid var(--slavic-red);
    border-radius: 8px;
    /* transition: all 0.5s ease-in-out; */
    }

/* Show shadow around project images when user hovers */
.main-proj-pic:hover,
.project-image:hover {
  box-shadow: inset 0px 0px 15px var(--slavic-red), 0 0 15px var(--slavic-red);
}
/* Change shadow color when user clicks on any project image  */
.main-proj-pic:active,
.project-image:active {
    box-shadow: inset 0px 0px 15px var(--slavic-blue), 0 0 15px var(--slavic-blue);
} 


/* ----- CONTACT ME ----- */
/* Flex Container for Contact Info */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
}

#contact-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    /* Use a dotted border to show flex properties. Leave these comments in for later debugging */
    /* border: dotted;
    border-color: var(--slavic-red); */
}
/* Align navigation links*/
#contact-bar ul {
    list-style-type: none;
    text-align: right;
    }

/* set contact link list properties */
.contact-link {
    list-style-type: none;
    font-size: 20px;
    display: inline;
    padding: 10px 25px 0px 10px;
}

/* Define text color for navigation links*/
#contact-bar a {
    color: var(--slavic-blue); 
}
/* Color changes when contact links are clicked (or clicked and held) color changes*/
#contact-bar a:active {
    color: var(--slavic-red);
} 

/* -----VIEWPORT PROPERTIES----- */
/* For devices with viewports <768px... */
@media screen and (max-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .biography,
    .my-projects,
    .contact-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .section-title {
        border-bottom: 5px solid;
        border-color: var(--slavic-blue);
    }
    header {
        width: 100%;
    }
    .project-section {
        margin: 10px 25px 10px 10px;
    }
    article {
        margin: 10px 25px 10px 10px;
    }
}
/* media query for larger screens */
@media screen and (min-width: 768px) {
    .section-title {
        border-right: 5px solid;
        border-color: var(--slavic-blue);
        }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
    .section-title {
        border-right: 5px solid;
        border-color: var(--slavic-blue);
        }
    /* set header list properties */
    .header-link {
        list-style-type: none;
        font-size: 20px;
        display: inline-block;
        padding: 10px 125px 5px 10px;
        }
        .contact-link {
            list-style-type: none;
            font-size: 20px;
            display: inline;
            padding: 10px 75px 0px 75px;
        }
}

