
:root {
    --slavic-red: rgb(186, 60, 60);
    --slavic-blue: rgb(66, 60, 101);
    --wheat: #ebbf83;
    --flax: #f1d7b2;
}


/* ----- BODY ----- */

/*Add color to body background*/
body {
    display: flex;
  flex-direction: column;
    background-color: #f1d7b2;
} 

/* ----- HEADER ----- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--slavic-red);
    color: var(--wheat);
}

/* Align navigation links*/
#header-bar ul {
    list-style-type: none;
    text-align: right;
    }

#header-text {
    color: var(--wheat);
}
/* set header list properties */
.header-link {
    list-style-type: none;
    font-size: 20px;
    display: inline;
    padding: 10px 25px 0px 10px;
}

/* Define text color for navigation links*/
#header-bar a {
    color: var(--wheat); 
}
/* When links are clicked (or clicked and held) 
the color will be dark slate blue */
#header-bar a:active {
    color: var(--slavic-blue);
} 

h1,
h2 {
    font-size: 200%;
    color: var(--slavic-blue);
}


/* -----CONTENT SECTIONS----- */
/* Set sections as columns */
.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    border: solid;
    border-color: var(--slavic-blue);
    border-radius: 5px;
}

/* -----ABOUT ME----- */
.section-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    border: dotted;
    border-color: var(--slavic-red);
    margin: 10px 25px 10px 10px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    flex: 1 0;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    border: dotted;
    border-color: var(--slavic-red);
    margin: 10px 25px 10px 10px;
}

.profile-pic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: dotted;
    border-color: var(--slavic-red);
}

article p {
    margin: 2% 0;
}
/* Set profile picture properties */
.profile-pic img{
    max-width: 200px;
    float: right;
    padding: 10px 25px 10px 25px;
}

/* -----MY PROJECTS----- */
.my-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
}

.project-section {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    align-items: center;
    min-width: 300px;
    flex: 1 1;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    border: dotted;
    border-color: var(--slavic-red);
    /* margin: 10px 25px 10px 70px; */
}

.main-proj-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 2;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    border: dotted;
    border-color: green;
}

.secondary-proj-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    border: dotted;
    border-color: green;
}

.project-image img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    margin: 10px;
}

.main-proj-pic {
    width: 50%;
    min-width: 300px;
}

.main-proj-pic:hover,
.project-image:hover {
  box-shadow: inset 0px 0px 8px var(--slavic-red), 0 0 15px var(--slavic-red);
}


/* ----- CONTACT ME ----- */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
}

#contact-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    flex: 1 1;
    padding: 5px;
    background-color: var(--flax);
    color: var(--slavic-blue);
    border: dotted;
    border-color: var(--slavic-red);
}
/* Align navigation links*/
#contact-bar ul {
    list-style-type: none;
    text-align: right;
    }

/* set header list properties */
.contact-link {
    list-style-type: none;
    font-size: 20px;
    display: inline;
    padding: 10px 25px 0px 10px;
}

/* Define text color for navigation links*/
#contact-bar a {
    color: var(--slavic-blue); 
}
/* When links are clicked (or clicked and held) 
the color will be dark slate blue */
#contact-bar a:active {
    color: var(--slavic-red);
} 
